---
# Theme
remote_theme: mmistakes/minimal-mistakes@4.15.2
minimal_mistakes_skin: default

# Site Settings
locale: en-US
title: yadm
title_separator: "-"
name: Tim Byrne
description: Yet Another Dotfiles Manager
url: https://yadm.io
repository: TheLocehiliosan/yadm

# Social Sharing
twitter:
  username: TheLocehiliosan

footer:
  links:
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: https://github.com/TheLocehiliosan
    - label: "Twitter"
      icon: "fab fa-fw fa-twitter-square"
      url: https://twitter.com/TheLocehiliosan

atom_feed: false
# path: false

# Analytics
analytics:
  provider: google-universal
  google:
    tracking_id: UA-83783540-1

# Site Author
author:
  name: Tim Byrne
  email: sultan@locehilios.com
  links:
    - label: Email
      icon: fas fa-fw fa-envelope-square
      url: mailto:sultan@locehilios.com
    - label: Twitter
      icon: fab fa-fw fa-twitter-square
      url: https://twitter.com/TheLocehiliosan
    - label: GitHub
      icon: fab fa-fw fa-github
      url: https://github.com/TheLocehiliosan

# Reading Files
include:
  - _docs
  - _pages
exclude:
  - CNAME
  - Gemfile*
  - Makefile
  - docker-compose.yml
  - test*
keep_files:
  - .git
encoding: utf-8
markdown_ext: markdown,mkdown,mkdn,mkd,md

# Conversion
markdown: kramdown
highlighter: rouge
lsi: false
excerpt_separator: "\n\n"
incremental: false

# Markdown Processing
kramdown:
  input: GFM
  hard_wrap: false
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  smart_quotes: lsquo,rsquo,ldquo,rdquo
  enable_coderay: false

# Collections
collections:
  docs:
    output: true
    permalink: /:collection/:path/

# Sass/SCSS
sass:
  sass_dir: _sass
  style: compressed

# Outputting
permalink: /:categories/:title/
# paginate: 5
# paginate_path: /page:num/

# Plugins (previously gems:)
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji
  - jekyll-include-cache

# mimic GitHub Pages with --safe
whitelist:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-gist
  - jekyll-feed
  - jemoji
  - jekyll-include-cache

# Archives
#  Type
#  - GitHub Pages compatible archive pages built with Liquid ~> type: liquid
#  (default)
#  - Jekyll Archives plugin archive pages ~> type: jekyll-archives
#  Path (examples)
#  - Archive page should exist at path when using Liquid method or you can
#    expect broken links (especially with breadcrumbs enabled)
#  - <base_path>/tags/my-awesome-tag/index.html ~> path: /tags/
#  - <base_path/categories/my-awesome-category/index.html ~> path: /categories/
#  - <base_path/my-awesome-category/index.html ~> path: /
category_archive:
  type: liquid
  path: /categories/
tag_archive:
  type: liquid
  path: /tags/
# https://github.com/jekyll/jekyll-archives
# jekyll-archives:
#   enabled:
#     - categories
#     - tags
#   layouts:
#     category: archive-taxonomy
#     tag: archive-taxonomy
#   permalinks:
#     category: /categories/:name/
#     tag: /tags/:name/

# HTML Compression
# - http://jch.penibelst.de/
compress_html:
  clippings: all
  ignore:
    envs: development

# Defaults
defaults:
  - scope:
      path: ""
      type: docs
    values:
      layout: single
      read_time: false
      author_profile: false
      share: false
      comments: false
      sidebar:
        nav: docs
